apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    argocd.argoproj.io/tracking-id: amazon-prime:apps/Deployment:default/prime-app
  labels:
    app: prime-app
  name: prime-app
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: prime-app
  template:
    metadata:
      labels:
        app: prime-app
    spec:
      containers:
        - image: rineeth05/amazon-prime:latest
          name: prime-app
          ports:
            - containerPort: 3000
